{% extends 'base.html.twig' %}

{% block title 'Connexion' %}

{% block body %}
  <div class="row">
        <div class="col-md-6 mx-auto">
          <h1 class="h3 mb-3 mt-5 text-center">Connexion</h1>
            
            <form method="post">
     
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                
                <label for="inputUsername">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                <label for="inputPassword" class="mt-2">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}">

                <div class="d-flex justify-content-between">
                    <div class="checkbox mb-3 mt-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    <a href="#"  class="mb-3 mt-3">Mot de passe oublié</a>
                </div>
                <button class="btn btn-lg btn-block btn-primary" type="submit">
                    Connexion
                </button>

   


        </div>
    </div> 

     
{% endblock %}