{% extends 'base.html.twig' %}

{% block title %}COMMANDES{% endblock %}

{% block body %}


 




{% for row in commandesByTable|batch(4) %}


    <div class="row mt-2" >
       {% for commande in row %}
        <div class="col-md-3"> 
  
    
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header text-center text-uppercase">{{commande.table}}</div>
    <div class="card-body">
         {% if commande.commande != null  %}
         
        <h4 class="card-title text-center text-bold"> {{commande.commande.id}}Fcfa</h4>
        {% endif %}
        <p class="card-text "></p>

    </div>
    </div>
    </div>

 {% endfor %}
 </div>
{% endfor %}



{% endblock %}