{% extends 'base.html.twig' %}

{% block title %}COMMANDES{% endblock %}

{% block body %}


 

{% if commandesByTable.commande !== null %}


{% for row in commandesByTable|batch(4) %}


    <div class="row mt-2" >
       {% for commande in row %}
        <div class="col-md-3"> 
  
    
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header text-center text-uppercase">{{commande.table}}</div>
    
    </div>

 {% endfor %}
 </div>
{% endfor %}
{% else %}

<p class="h1 mt-5 text-center text-muted">Aucune commande pour l'instant  </p>

{% endif %}
{% endblock %}