{% extends 'base.html.twig' %}

{% block title %}INFORMATIONS {{restaurant.nom}}{% endblock %}

{% block body %}
 <div id="top" class="starter_container bg">
            <div class="follow_container">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="top-title"> Restaurant</h2>
                    <h2 class="white second-title">" Best in the city "</h2>
                    <hr>
                </div>
            </div>
        </div>
 
{% endblock %}