{% extends 'base.html.twig' %}

{% block title %}INFORMATIONS {{restaurant.nom}}{% endblock %}

{% block body %}
 

 <div class="row ">   

    <div class="col-md-4 mt-5">
    <img src="{{ (restaurant.imageName ? vich_uploader_asset(restaurant,'imageFile') : asset('build/images/logo.jpg')) | imagine_filter('images_medium') }}"
      alt="{{restaurant.nom}} " class="row justify-content-center" />
     </div>
     <div class="col-md-6 mt-5"> 
    <h1>Bienvenue au restaurant {{restaurant.nom}} </h1>
    </div>

 </div>
 
{% endblock %}