{% extends 'base.html.twig' %}

{% block title %}INFORMATIONS {{restaurant.nom}}{% endblock %}

{% block body %}
 

 <div class="header">   
        
    <h1>Bienvenue au restaurant {{restaurant.nom}} </h1>





















































































































































    
 
 
 </div>
 
{% endblock %}