{% extends 'base.html.twig' %}

{% block title %}INFORMATIONS {{restaurant.nom}}{% endblock %}

{% block body %}

    <img src="{{ (restaurant.imageName ? vich_uploader_asset(restaurant,'imageFile') : asset('build/images/logo.jpg') | imagine_filter('images_medium') }}"
     alt="{{restaurant.nom}} " widt="100"/></p>

 


{% endblock %}