{% extends 'base.html.twig' %}

{% block title %}Gestion du menu{% endblock %}

{% block body %}
{% if restaurants|length > 0 %}
    
          {% for row in catégories|batch(3) %}
            <div class='row'>
          {% for categories in row %}
              <div class="col-md-4">
                <article class=" pin rounded shadow center">
                  <div class="mw-100 overflow-hidden  rounded-top">
                    </div> 
          
                    <h1 class="h5 pt-2git pl-3"><a href="#" class="text-secondary text-decration-none">{{categories.nom}}</a></h1>
          
                </article>
              </div>
        {% endfor %}
          </div>
        {% endfor %}
  {% else %}
       <p class="h1 mt-5 text-center">Aucune catégorie de plats </br>Veuillez creer des catégories pour y ajouter de plats<a href="#">Soyez le premier </a>
  {% endif %} 
{% endblock %}
