{% extends "base.html.twig" %}

{% block title %}Uploads Tables{% endblock %}


{% block body %}
    

    <div class="row  mt-5 ">
        
       
                  

        </div>
</br>
         <h2>SCANNEZ LE CODE BARRE POUR ACCEDER AU MENU </h2>

                       
{% endblock %}