{% extends 'base.html.twig' %}

{% block title %}MON COMPTE{% endblock %}

{% block body %}

<h1 class="mx-auto mt-5" >BIENVENUE SUR VOTRE COMPTE {{user.username|upper}}</h1>

<div class="row">

    <div class="col-md-4">
            ndkdkdh

    </div>


     <div class="col-md-4">
            ndkdkdh

    </div>

     <div class="col-md-4">
            ndkdkdh

    </div>

</div>

{% endblock %}
