{% extends 'base.html.twig' %}
{% block title %}Mes restaurants {% endblock %}

{% block body %}
  {% if restaurants|length > 0 %}
    
          {% for row in restaurants|batch(3) %}
            <div class='row'>
          {% for restaurants in row %}
              <div class="col-md-4">
                <article class=" pin rounded shadow center">
                  <div class="mw-100 overflow-hidden  rounded-top">
                      <a href="#">  
                      class="w-100"  alt="{{pin.title}}"/>
                      </a>
                    </div> 
          
                    <h1 class="h5 pt-2git pl-3"><a href="#" class="text-secondary text-decration-none">{{restaurants.name}}</a></h1>
          
                </article>
              </div>
        {% endfor %}
          </div>
        {% endfor %}
  {% else %}
       <p class="h1 mt-5 text-center">Aucun Restaurant enregistrer  </br> <a href="#">Creer votre premier restaurant </a>
  {% endif %} 
{% endblock %}
