{% extends 'base.html.twig' %}

{% block title %}Vos restaurants {% endblock %}

{% block body %}
    <button class="btn btn-primary">Creer un restaurant</button>
  {% if restaurants|length > 0 %}
    
          {% for row in restaurants|batch(3) %}
            <div class='row'>
          {% for restaurant in restaurants %}
              <div class="col-md-4">
                <article class=" pin rounded shadow center">
                  <div class="mw-100 overflow-hidden  rounded-top">
                      <a href="">  
                      class="w-100"  alt="{{restaurant.name}}"/>
                      </a>
                    </div> 
          
                    <h1 class="h5 pt-2git pl-3"><a href="" class="text-secondary text-decration-none">{{pin.title}}</a></h1>
                    <p class="pl-3 pb-3"><small>submitted {{restaurant.createdAt | ago }}</small></p>
          
                </article>
              </div>
        {% endfor %}
          </div>
        {% endfor %}
  {% else %}
       <p class="h1 mt-5 text-center">Aucun Restaurant pour l'instant <a href="">Veuillez en creer un </a>
  {% endif %} 
{% endblock %}
