{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Moulaye-food{% endblock %}


{% block body %}

{% if app.user %}

<div class="mt-5">

<div class="row "  >
      
        
        <a href="{{path('app_restaurant')}}"
        <div class="col-md-4 "><H3 class="mx-auto">MES RESTAURANTS</H3>
         <img src="{{ (asset('build/images/images.jpg'))}}"

        class="w-100 rounded-top" /> </div> </a>


        <div class="col-md-4"><H3  class="mx-auto" >MON COMPTE</H3>
         <img src="{{ (asset('build/images/images.jpg'))}}"

        class="w-100 rounded-top" /> </div>

        <div class="col-md-4"><H3  class="mx-auto">MES COMMANDES</H3>
         <img src="{{ (asset('build/images/images.jpg'))}}"

        class="w-100 rounded-top" /> </div>
        
    
     </div>
   </div>







{% endif %}




{% endblock %}
