{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Moulaye-food{% endblock %}


{% block body %}

{% if app.user %}

<div class="mt-5">

<div class="row  mt-10"  >
      
        
        
        <div class="col-md-4 mt-10"><H4 class="mt-10">MES RESTAURANTS</H4>
         <img src="{{ (asset('build/images/images.jpg'))}}"

        class="w-100 rounded-top" /> </div>
        <div class="col-md-4"><H4>MON COMPTE</H4>
         <img src="{{ (asset('build/images/images.jpg'))}}"

        class="w-100 rounded-top" /> </div>

        <div class="col-md-4"><H4>MES COMMANDES</H4>
         <img src="{{ (asset('build/images/images.jpg'))}}"

        class="w-100 rounded-top" /> </div>
        
    
     </div>
   </div>







{% endif %}




{% endblock %}
