{% extends "base.html.twig" %}

{% block title %}Ajouter restaurants{% endblock %}


{% block body %}
    

    <div class="row  mt-5 ">
        <div class="col-md-6 mx-auto">
            {{form_start(nbresTables)}}
                {{form_row(nbresTables.nombresTables)}}
                

                <button type="submit" class="btn btn-primary btn-block"> 
                
                    Ajouter
             
                </button>
            
            {{form_end(nbresTables)}}
                          
                  

        </div>
          
                       

    </div>

{% endblock %}