
	<style type="text/css">
	#titre
	 {
		 color:red;
		 text-align:center;
		 font-size:60px;
	}

	#codeQr{
		margin-left:200px;
	}


	#scan{

			 text-align:center;
	}
	</style>




    <div class="container">

    <div class="row  mt-5 ">
        <h1 class=" mx-auto" id="titre">BIENVENUE A{{restaurant}}</h1>
		<h3 class=" mx-auto" id="titre">Vous êtes à la table  {{table.NUMERO}}</h3>

        <div class="col-md-6 mx-auto">
           
		                   <img  src="../public/build/restaurant.{{restaurant}}/{{table.codeQr}}" width="300" class="mx-auto mt-10 mb-10" id="codeQr">

    
</div>
<div id="scan">
<h3>SCANNER AVEC UN TELEPHONE ANDROID</h3>
<p> Pour scanner un code QR avec Google Screen Search, aucune appli n'est requise. Voici comment procéder :

    Pointez votre appareil photo vers le code QR.
    Maintenez le bouton d'accueil appuyé puis balayez l'écran vers la gauche pour afficher les options en bas de l'écran.
    Sélectionnez « Qu'y a-t-il sur mon écran ? »
    L'URL simplifiée reliée au contenu du code QR apparaît alors.
 </p>
 </div>

 </div>
<div id="scan">
<h3>SCANNER AVEC UN TELEPHONE IPHONE</h3>
<p> Pour scanner un code QR avec Google Screen Search, aucune appli n'est requise. Voici comment procéder :

    Pointez votre appareil photo vers le code QR.
    Maintenez le bouton d'accueil appuyé puis balayez l'écran vers la gauche pour afficher les options en bas de l'écran.
    Sélectionnez « Qu'y a-t-il sur mon écran ? »
    L'URL simplifiée reliée au contenu du code QR apparaît alors.
 </p>
 </div>
</div>