


    

    <div class="row  mx-auto ">
		<h3 class=" mx-auto">Vous êtes à la table  {{table.numero}}{{table.codeQr}} </h3>

        <div class="col-md-6 mx-auto">
          
		  
		<img  src="../public/build/restaurant.~ $resto ~ ./$Ntable.png"" width="300" class="mx-auto mt-10 mb-10">

    	</div>
</div>