{% extends "base.html.twig" %}

{% block title %}Uploads Tables{% endblock %}


{% block body %}
    

    <div class="row  mt-5 ">
        
        <h1>BIENVENUE AU RESTAURANT {{restaurant}} Vous êtes à la table {{table}} </h1>
                  

        </div>
</br>
         <h2>SCANNEZ LE CODE BARRE POUR ACCEDER AU MENU </h2>


{% endblock %}