





    

    <div class="row  mt-5 ">
        <h3 class=" mx-auto">BIENVENUE AU {{restaurant}}</h3>
		<h3 class=" mx-auto">Vous êtes à la table  {{table.numero}}</h3>

        <div class="col-md-6 mx-auto">
           
		                   <img  src="../public/build/restaurant.5/1.png" width="300" class="mx-auto mt-10 mb-10">

    
