{% extends "base.html.twig" %}

{% block title %}fiche table{% endblock %}


{% block body %}
    

    <div class="row  mt-5 ">
        <h3 class=" mx-auto">BIENVENUE AU {{restaurant.nom}}</h3>
		<h3 class=" mx-auto">Vous êtes à la table  {{table.numero}}</h3>

        <div class="col-md-6 mx-auto">
           
		                   <img  src="{{ ( asset('build/restaurant.'~ restaurant ~  '/' ~ table.codeQr )) }}" width="300" class="mx-auto mt-10 mb-10">

    </div>
{% endblock %}