
	<style type="text/css">
	.titre
	 {
		 color:red;
	}



	</style>




    <div class="container">

    <div class="row  mt-5 ">
        <h3 class=" mx-auto" id="titre">BIENVENUE A{{restaurant}}</h3>
		<h3 class=" mx-auto">Vous êtes à la table  {{table.NUMERO}}</h3>

        <div class="col-md-6 mx-auto">
           
		                   <img  src="../public/build/restaurant.{{restaurant}}/{{table.codeQr}}" width="300" class="mx-auto mt-10 mb-10">

    
</div>
</div>