


    

    <div class="row  mx-auto ">
		<h3 class=" mx-auto">Vous êtes à la table  {{table.numero}}</h3>

        <div class="col-md-6 mx-auto">
          
		  
		<img  src="{{  asset('build/restaurant.'~ restaurant ~  '/' ~ table.codeQr ) }}" width="300" class="mx-auto mt-10 mb-10">

    	</div>
</div>